.platformio
.cache
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
.pio
.vscode
src/secrets.h
backend/MusicDimsApi/.idea/.idea.MusicDimsApi/.idea
nohup.out
backend/MusicDimsApi/Api/appsettings.secrets.json
src/secrets.cpp
